.mainprod{
    background-color: black;
    height: 200vh;
}
.myprod{
  
    display: flex;
    padding-left: 150px;
}
.subsec1 h3{
    color: aqua;
    margin-top: 80px;
}
.subsec1 h1{
    color: white;
}
.subsec1 p{
    color: gray;
}

.prod1{
    margin-top: 80px;
    border: 1px solid;
    background-color: rgba(82, 79, 79, 0.664);
   margin-left: 50px;
   height: 400px;
   border-radius: 16px;
   width: 270px;
}
.prod1 img{
    height: 300px;
    margin-top: -80px;
    margin-left: 50px
}
.prod1 h3{
    margin-left: 50px;
}
.prod1 h2{
    margin-left: 70px;
}
.myprod2{
    text-align: center;
    margin: 30px;
}

.myprod2 h1{
  color: aqua;
}
.myprod2 h2{
    color: white;

    font-size: 60px;
    
}
.myprod2 p{
    color: gray;
}
.vapecard{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    
}



/* Styles for mobile devices and laptops/desktops */
@media screen and (max-width: 600px) {
    .mainprod{
        background-color: black;
        height: 350vh;
    }
    .vapecard{
        display: block;
        justify-content: space-between;
text-align: center;        
    }
    
  }
  
  @media screen and (min-width: 601px) {
    /* Styles for laptops/desktops */
    /* ... Your CSS styles for laptops/desktops here ... */
  }
  